<p>Olá, {{nomeCorrespondente}}!</p>
<p>O associado {{nomeAssociado}} acabou de enviar o documento de assinatura.</p>
<p>Agora é a sua vez de aprovar ou rejeitar o documento com a maior agilidade possível.</p>
<p>Agradecemos por sua compreensão.</p>