<p>Olá, {{nomeAssociado}}!</p>
<p>É a sua vez de assinar.</p>
<p>É importante que assine o documento com a maior agilidade possível para manter o seguimento da cadeia.</p>
<p>Agradecemos por sua compreensão.</p>