<p>Olá, {{nomeAssociado}}!</p>
<p>Sua conta foi criada e agora você está associado ao projeto {{nomeProjeto}}.</p>
<p>Criamos um login e senha provisórios para você:</p>
<p><b><i>login:</i>{{login}}</b></p>
<p><b><i>senha:</i>{{senha}}</b></p>
<p>Sugerimos que a altere com a maior agilidade possível.</p>
<p>Agradecemos por sua compreensão.</p>
