<p>Olá, {{nomeAssociado}}!</p>
<p>Você foi convidado pelo correspondente do {{nomeProjeto}} para fazer parte do projeto.</p>
<p>Ao clicar no link abaixo você será redirecionado e uma conta provisória será criada.</p>
<p>Agradecemos por sua compreensão.</p>
<a href="{{ url }}">Aceitar Convite</a>