<p>Olá, {{nomeAssociado}}!</p>
<p>O correspondente do projeto {{nomeProjeto}} rejeitou sua assinatura.</p>
<p>Por gentileza, reenvie o documento com a assinatura corrijada com a maior agilidade possível.</p>
<p>Agradecemos por sua compreensão.</p>