<p>Olá, {{nomeAssociado}}!</p>
<p>Você será o próximo a assinar o documento.</p>
<p>Enviaremos uma notificação por email informando-lhe que é a sua vez.</p>
<p>Quando o momento chegar, é importante que assine o documento com a maior agilidade possível para manter o seguimento da cadeia.</p>
<p>Agradecemos por sua compreensão.</p>